# Virtual environment
tf_env/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
*.swp

# OS & editor files
.DS_Store
.ipynb_checkpoints/
.vscode/

# Large datasets (not needed in repo)
Dataset/
Dataset_split/
Models/

